.page {
  padding: 30px;
}

.filterBox {
  margin-bottom: 20px;
  display: flex;
  gap: 10px;
  align-items: center;
}

.orderList {
  display: grid;
  gap: 20px;
}

.orderCard {
  background: white;
  padding: 18px;
  border-radius: 12px;
  box-shadow: 0 4px 14px rgba(0,0,0,0.1);
}

.status {
  background: #e0f2fe;
  padding: 6px 12px;
  border-radius: 20px;
  font-weight: 600;
}

.medicineRow {
  display: flex;
  gap: 12px;
  margin-top: 12px;
  align-items: center;
}

.image {
  width: 60px;
  height: 60px;
  object-fit: cover;
  border-radius: 8px;
}

.info {
  margin-top: 12px;
  font-size: 14px;
  color: #555;
}