.BookingPage {
  background:#f1f3f6;
  min-height:100vh;
  padding:30px;
  font-family:Segoe UI;
}

.MainGrid {
  display:grid;
  grid-template-columns: 2fr 1fr;
  gap:24px;
  max-width:1200px;
  margin:auto;
}

/* LEFT */

.LeftColumn {
  display:flex;
  flex-direction:column;
  gap:20px;
}

.Card {
  background:white;
  padding:20px;
  border-radius:4px;
  box-shadow:0 1px 4px rgba(0,0,0,.1);
}

.Card h3 {
  font-size:16px;
  margin-bottom:14px;
}

.Name {
  font-weight:700;
}

.Address {
  color:#475569;
  margin:8px 0;
}

.Phone {
  color:#2563eb;
}

/* REPRESENTATIVE */

.Rep {
  display:flex;
  gap:12px;
  padding:12px;
  border:1px solid #e5e7eb;
  border-radius:6px;
  margin-bottom:10px;
  cursor:pointer;
}

.Rep span {
  font-size:12px;
  color:#64748b;
}

/* RIGHT */

.RightColumn {
  position:sticky;
  top:20px;
  height:fit-content;
}

.SummaryCard {
  background:white;
  padding:20px;
  border-radius:4px;
  box-shadow:0 1px 4px rgba(0,0,0,.1);
}

.Row {
  display:flex;
  justify-content:space-between;
  margin-bottom:10px;
}

.Free {
  color:#16a34a;
  font-weight:600;
}

.Total {
  display:flex;
  justify-content:space-between;
  font-weight:700;
  font-size:18px;
  margin:15px 0;
}

.PayBtn {
  width:100%;
  background:#16a34a;
  border:none;
  color:white;
  padding:14px;
  font-weight:700;
  border-radius:4px;
  cursor:pointer;
}

.PayBtn:hover {
  background:#f97316;
}

@media(max-width:900px){
  .MainGrid {
    grid-template-columns:1fr;
  }
}
